body{
    background-color: rgb(107, 165, 241);
    font: normal 15pt Verdana, arial, helvetica, sans-serif;
}

header {
    color: white;
    text-align:center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding:15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 3px 10px rgba(36, 1, 41, 0.671);

}

#imagem {
    border-radius: 150px;
}

footer {
    color: white;
    text-align:center;
    font-style: italic;
}